version: 2.1
commands:
  destroy_environments:
    steps:
      - run: aws cloudformation delete-stack --stack-name prod-${CIRCLE_WORKFLOW_ID}
jobs:
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: create stack
          command: |
            aws cloudformation deploy \
              --template-file template.yml \
              --stack-name prod-${CIRCLE_WORKFLOW_ID}
      - run: return 1
      -destroy_environments
       when: on_fail
workflows:
  my_workflow:
    jobs:
      - create_infrastructure
